// Vogo specials
$blue: #0fbcf9;
$orange: #ffa801;
$red: #ff3f34;
$yellow: #ffd500;
$black: #000;
$notBlack: #383838;
$white: #fff;
$likeWhite: #F8F8FB;
$pinkyRose: #FE2365;
$vogoPurple: #6900ff;
$success:#008489;
$error:#E2263F;
// Font colors
$text_sub_black: #787878;


// Nav bar colors
$greenSea: #16a085;
$grey: #9e9e9e;
$paper: #efefef;
$cubic: cubic-bezier(.64,.09,.08,1);
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);